Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
eos-social
install-sh
missing
py-compile
stamp-h1
*.gir
*.la
*.lo
*.o
*.pyo
*.pyc
*.swp
*.typelib
*~
\#*\#
/depcomp
/libtool
/ltmain.sh
/EosSocial/.deps
/EosSocial/.libs
/EosSocial/path.js
/data/eos-social.gresource
/data/com.endlessm.SocialBar.service.in
/data/com.endlessm.SocialBar.service
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/*.gmo
