/.pydevproject
/.project
.metadata
*.pyc
dist
build
debian/endless-os-desktop-widget/
warnendless_os_desktop_widget.txt
*.log
*.deb
*.changes
*~
debian/endless-os-desktop-widget.substvars
debian/files
*.pyc
.*.swp
.settings/
po/*.pot
