Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
eos-social
install-sh
missing
py-compile
stamp-h1
*.pyo
*.pyc
*~
\#*\#
*.swp
EosSocial/path.js
data/eos-social.gresource
data/com.endlessm.SocialBar.service.in
data/com.endlessm.SocialBar.service
po/POTFILES
po/stamp-it
