<html>
	<head>
	
	<script>
	function like_success(id) {
        //document.getElementById("like-"+id).innerHTML = 'Unlike';
        //alert(document.getElementById("like-"+id).href);
        document.getElementById("like-"+id).href = 'eossocialbar:#';
        //alert(document.getElementById("like-"+id).href);
        number = parseInt(document.getElementById("likes-count-"+id).innerHTML);
        if (number) {
        number = number + 1;
        } else {
        number = 1
        }
        document.getElementById("likes-count-"+id).innerHTML = number
    }
    
    function unlike_success(id) {
        alert('Under construction.\nComing soon.');
        //document.getElementById("like-"+id).innerHTML = 'Like';
        //alert(document.getElementById("like-"+id).href);
        //document.getElementById("like-"+id).href = 'eossocilabar:LIKE?id='+id;
        //alert(document.getElementById("like-"+id).href);
        //number = parseInt(document.getElementById("likes-count-"+id).innerHTML);
        //if (number) {
        //number = number - 1;
        //}
        //document.getElementById("likes-count-"+id).innerHTML = number
    }
    
    function show_comments(id, comments) {
        //alert(id);
        //alert(comments);
        if (comments.length > 0) {
            var container = document.getElementById("comments-"+id);
            container.setAttribute("style","visibility:visible;");
            //for each comment append child element, up to 4 of them
            var i = 0;
            var limit = 4;
            if (comments.length < limit) {
                limit = comments.length;
            }
            
            while (i < limit) {
                var commentdiv = document.createElement("div");
                //commentdiv.setAttribute("class", "single-comment");
                var poster = document.createTextNode(comments[i].from.name);
                var br = document.createElement("br");
                var hr = document.createElement("hr");
                var text = document.createTextNode(comments[i].message);
                commentdiv.appendChild(poster);
                commentdiv.appendChild(br);
                commentdiv.appendChild(text);
                commentdiv.appendChild(hr);
                container.appendChild(commentdiv);
                i++;
            }
        }
        //prikazi edit
        var f = document.createElement("form");
        f.setAttribute('method',"get");
        f.setAttribute('action',"eossocialbar:POST_COMMENT?id="+id);
        var i = document.createElement('input');
        i.setAttribute('type',"text");
        i.setAttribute('name',"comment_text");
        i.setAttribute("id", "comment-text-"+id);
        var h = document.createElement('input');
        h.setAttribute('type',"hidden");
        h.setAttribute('name',"id");
        h.value = id;
        var b = document.createElement("br");
        var s = document.createElement("input");
        s.setAttribute('type',"submit");
        s.setAttribute('value',"Comment");
        f.appendChild(i);
        f.appendChild(h);
        f.appendChild(b);
        f.appendChild(s);
        elem = document.getElementById("comment-post-box-"+id);
        elem.appendChild(f);
        elem.setAttribute("style","visibility:visible;");
        //osakati comment link
        document.getElementById("comment-"+id).setAttribute("href", "eossocialbar:#");
    }
	</script>
	</head>
	<body style="height:500px;background-image:url(../images/ng-birds.jpg);">
	<!-- facebook js api load and initialization -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '393860344022808', // App ID from the App Dashboard
	      status     : true, // check the login status upon init?
	      cookie     : true, // set sessions cookies to allow your server to access the session?
	      xfbml      : true  // parse XFBML tags on this page?
	    });
	
	    // Additional initialization code such as adding Event Listeners goes here
	
	  };
	
	  // Load the SDK's source Asynchronously
	  // Note that the debug version is being actively developed and might 
	  // contain some type checks that are overly strict. 
	  // Please report such bugs using the bugs tool.
	  (function(d, debug){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document, /*debug*/ false));
	</script>
	
	<!-- end facebook js api load and initialization -->
		<div id="top-container"style="overflow:scroll;height=500px;">
			<div id="scroller">
				<!-- here comes the list of posts -->
				#for $post in $posts
				<div class="post" id="$post.id" style="padding-top:5px;display:block;">
					<div class="user" style="width:70px;float:left;">
						<!-- image -->
						<img src="$post.poster_image"/>
						<!-- time -->
						<br/>
						##$post.date_updated
					</div>
					<div class="post-content" style="width:280px;float:left;padding:10px;background:#ffff66">
						<!-- username -->
						<span style="color:blue;"><b>$post.poster on Facebook</b></span><br/>
						<!-- subject (TODO: add check if subject is existant -->
						#if $post.subject
							<b>$post.subject</b><br/>
						#end if
						<!-- Post text -->
						#if $post.text
							$post.text<br/>
						#end if
						<!-- Post image -->
						#if $post.image
							<div class="imagecls" style="text-align:center;"><img src="$post.image"/></div><br/>
						#end if
						<!-- Like and Comment links/buttons and respective counts -->
						<div class="clearer" style="clear:both;"></div>
						<br/>
						#if $post.actions
						<!-- Like comes first -->
						    #for $action in $post.actions
						        #if $action['name'] == 'Like'
						            <a href="eossocialbar:LIKE?id=$post.id" id="like-$post.id">Like</a>&nbsp;&nbsp;
						            <span id="likes-count-$post.id">
						            #if $post.likes and $post.likes['count'] > 0
						                $post.likes['count']
						            #end if
						            </span>&nbsp;&nbsp;
						        #else if $action['name'] == 'Comment'
						            <a href="eossocialbar:COMMENT?id=$post.id" id="comment-$post.id">Comment</a>&nbsp;&nbsp;
						            <span id="comments-count-$post.id">
						            #if $post.comments and $post.comments['count'] > 0
						                $post.comments['count']
						            #end if
						            </span>&nbsp;&nbsp;
						        #end if
						    #end for
						#end if
						<br/>
						<div class="comments-container" id="comments-$post.id" style="visibility:hidden;">
						    
						</div>
						<div class="comment-post-box" id="comment-post-box-$post.id" style="visibility:hidden;">
						
						</div>
						<br/>
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=393860344022808";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
						<div class="fb-like" data-href="https://graph.facebook.com/313449204401/likes" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
					</div>
				</div>
				<div class="clearer" style="clear:both;"></div>
				#end for
			</div>
		</div>
	</body>
</html>
