Source: endlessos-base-social
Section: non-free/misc
Priority: standard
Maintainer: Asynchrony Solutions, Inc <endlessmobile@gmail.com>
Build-Depends: cdbs (>= 0.4.90~),
               autotools-dev,
               debhelper (>= 8),
               python-support (>= 0.7),
               python (>= 2.6.6-3~),
               gnome-pkg-tools
X-Python-Version: >= 2.4
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: endlessos-base-social
Replaces: eos-social
Breaks: eos-social
Provides: eos-social
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python-gi (>= 3.0),
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-webkit-3.0,
         gir1.2-wnck-3.0,
         python-setuptools
Description: Endless Social Bar installation package, this package
 installs the Endless Social Bar
