Source: eos-social
Section: non-free/misc
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Uploaders: Roddy Shuler <roddy@endlessm.com>
Build-Depends: cdbs (>= 0.4.90~),
               autotools-dev,
               debhelper (>= 8),
               python (>= 2.6.6-3~),
               gnome-pkg-tools
X-Python-Version: >= 2.4
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-social
Replaces: endlessos-base-social
Breaks: endlessos-base-social
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python-gi (>= 3.0),
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-webkit-3.0,
         gir1.2-wnck-3.0,
         python-setuptools
Description: Endless Social Bar installation package
 This package installs the Endless OS Social Bar
