.socialbar-toplevel.background {
    background-color: transparent;
}

.socialbar-frame.frame {
    border-width: 0 0 0 6px;
    border-color: transparent;

    border-image: linear-gradient(to right,
                                  transparent,
                                  alpha(black, 0.10) 2px,
                                  black 11px) 6 / 6px stretch;
}

.socialbar-frame.frame:dir(rtl) {
    border-width: 0 6px 0 0;
    border-color: transparent;

    border-image: linear-gradient(to left,
                                  transparent,
                                  alpha(black, 0.10) 2px,
                                  black 11px) 6 / 6px stretch;
}

.socialbar-topbar.toolbar {
    padding: 5px 4px 4px;
    background-color: #3c3b37;
}

.socialbar-topbar.toolbar .button {
    background: none;
    border: none;
    padding: 0;

    color: #a0a0a0;
    icon-shadow: inset 0 1px alpha(black, 0.5);
}

.socialbar-topbar.toolbar .button:hover {
    color: #ffffff;
    icon-shadow: inset 0 1px black;
}

.socialbar-topbar.toolbar .button:active,
.socialbar-topbar.toolbar .button:hover:active {
    color: #6e6e6e;
    icon-shadow: inset 0 1px alpha(black, 0.5);
}

.socialbar-topbar.toolbar .button *:insensitive {
    color: alpha(black, 0.4);
    icon-shadow: inset 0 1px alpha(white, 0.15);
}

.socialbar-browser-frame {
       background: white;
}
