.background {
    background-color: transparent;
}

.socialbar-frame.frame {
    border-width: 0 0 0 6px;
    border-color: transparent;

    border-image: linear-gradient(to right,
                                  transparent,
                                  alpha(black, 0.10) 2px,
                                  black 11px) 6 / 6px stretch;
}

.socialbar-topbar.toolbar {
    padding: 5px 4px 4px;
    background-color: #3c3b37;
}

.socialbar-topbar.toolbar .button {
    background: none;
    border: none;
    padding: 0;

    color: #8a8a8a;
    icon-shadow: inset 0 1px black;
}

.socialbar-topbar.toolbar .button *:hover {
    color: #e8e8e8;
}

.socialbar-topbar.toolbar .button *:active,
.socialbar-topbar.toolbar .button *:hover:active {
    color: #5d5d5d;
}

.socialbar-topbar.toolbar .button *:insensitive {
    color: #6e6e6e;
}
